<div id="container">
    <div id="row">
        <h1>Pages#one</h1>
        <p>Find me in app/views/pages/one.html.erb</p>
    </div>
    <div id="row">
        <%= image_tag 'captura', width:'600px', height: '300'%>
    <div class="mb-3">
    </div>
    <div id="row mx-5">
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>
