<div id="container">
    <div id="row">
        <h1>Pagina 1</h1>
        <p>Find me in app/views/pages/one.html.erb</p>
    </div>
    <div id="row">
        <%= image_tag 'captura', width:'600px', height: '300'%>
        <br>
        <img src="../../assets/images/captura.png">
    <div class="mb-3">
    </div>
    
</div>
